{% extends "base.html" %}

{% block body %}
<section class="error">
  <div class="container">
    <div class="col-sm-6">
      <h1 id="err">Error 404</h1>
    </div>
    <div class="col-sm-6">
      <h2>Everyone makes mistekes.</h2>
      <p>The page <b id="url"></b> could not be found on this server. Try to change the address and reload the page ...</p>
    </div>
  </div>
</section>
{% endblock body %}

{% block scripts %}
  <script type='text/javascript' charset='utf-8' src="{% static '/static/js/vendor/vendors.js' %}"></script>
  <script type="text/javascript" charset='utf-8'>
    $(document).ready(function() {

      // Add the missing url to the text
      $("#url").text(window.location.pathname);

      var raf = requestAnimationFrame || mozRequestAnimationFrame ||
        webkitRequestAnimationFrame || msRequestAnimationFrame;
      if (raf) {
        raf(function() {
          $("img.lazy").lazyload({
            threshold : 500
          });
        });
      }

      // Fix the css locations dynamically
      $("head link").each(function() {
        for (var i=0; i<window.location.pathname.split(/\//g).length-2; i++)
          $(this).attr("href", "../" + $(this).attr("href"));
      });
    })
  </script>
{% endblock %}
