{% extends "base.html" %}
{% load i18n %}
{% block body %}
<header>
    <div class="jumbotron" id="jumbotron">
        <div class="container">
            <div class="top">
                <div class="width-wrapper">
                    <h1 class="display-4 text-xs-center" id="headline">{% trans "We make security easy." %}</h1>
                    <p class="lead" id="lead">Bulletproof protection for your <span id="lead-typer">bitcoins.</span></p>
                    <div class="lead-ghost" id="lead-ghost">
                        <p>{% trans "bitcoins." %}</p>
                        <p>{% trans "passwords." %}</p>
                        <p>{% trans "accounts." %}</p>
                        <p>{% trans "emails." %}</p>
                    </div>
                </div>
            </div>
            <div class="bottom">
                <p class="text-xs-center">
                    <a class="btn btn-primary-full" href="https://shop.trezor.io" role="button">{% trans "Add to Cart" %}</a>
                <div class="hidden-xs-down platform-icons">
                    <div>{% trans "Supported platforms:" %}</div>
                    <i class="fa fa-apple" aria-hidden="true" id="mac"></i>
                    <i class="fa fa-windows" aria-hidden="true" id="win"></i>
                    <i class="fa fa-linux" aria-hidden="true" id="linux"></i>
                    <i class="fa fa-android" aria-hidden="true" id="unknown"></i>
                </div>
                </p>
            </div>
        </div>
        <div class="strip text-xs-center">
            <p>{% trans "New TREZOR owner?" %} <a href="https://wallet.trezor.io/">{% trans "Start now!" %}</a></p>
        </div>
    </div>
</header>
<div class="sticky hidden-xs-down" id="sticky-nav">
    <div class="container sub-nav">
        <div class="nav-inline nav" id="sub-nav">
            <a class="nav-link" href="{% url '/' %}">
                <img class="trezor-logo" src="{% static '/images/trezor-logo.svg' %}"
                     onerror="this.src='{% static '/images/trezor-logo.png' %}'; this.onerror=null;"
                     alt="TREZOR logo"/>
            </a>
            <a class="nav-link active scrollTo hidden-sm-down" href="#usage">{% trans "Usage" %}</a>
            <a class="nav-link scrollTo hidden-sm-down" href="#features">{% trans "Features" %}</a>
            <a class="nav-link scrollTo hidden-sm-down" href="#specification">{% trans "Specs" %}</a>
            <a class="nav-link scrollTo hidden-sm-down" href="#developers">{% trans "Developers" %}</a>
            <a class="nav-link scrollTo hidden-sm-down" href="#team">{% trans "Team" %}</a>
            <a class="btn btn-third-outline buy float-sm-right" href="https://shop.trezor.io" role="button">{% trans "Buy for $99"%}</a>
        </div>
    </div>
</div>
<main class="main-content" id="main">
    <div id="usage">
        <section class="intro-section">
            <div class="container">
                <div class="row heading">
                    <div class="col-lg-12 text-xs-center">
                        <h2>{% trans "Easy &amp; Secure." %}</h2>
                        <!-- <p>{% trans "As one, two, three ..." %}</p> -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-12 text-xs-center">
                        <div class="text-block">
                            <div class="presentation setup"></div>
                            <h4>{% trans "Quick setup." %}</h4>
                            {% blocktrans %}
                            <p>Get your TREZOR ready within minutes in a completely private, registration-free
                                process.</p>
                            {% endblocktrans %}
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-12 text-xs-center">
                        <div class="text-block">
                            <div class="presentation use"></div>
                            <h4>{% trans "Use with ease." %}</h4>
                            {% blocktrans %}
                            <p>Using TREZOR is easy. Just follow the instructions on the display and click the button
                                to confirm important actions.</p>
                            {% endblocktrans %}
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-12 text-xs-center">
                        <div class="text-block">
                            <div class="presentation recover"></div>
                            <h4>{% trans "Lost? Restore." %}</h4>
                            {% blocktrans %}
                            <p>No worries, use your secret words to quickly regain access to all your
                                keys, money, history, accounts and emails.</p>
                            {% endblocktrans %}
                        </div>
                    </div>
                </div>
                <!--
                <div class="row">
                    <div class="col-lg-12 text-xs-center learn-more">
                        <a href="{% url '/usage.html' %}" class="btn-primary-noline">
                            {% blocktrans %}
                            Learn more about usage.
                            {% endblocktrans %}
                        </a>
                    </div>
                </div>
                -->
            </div>
        </section>

        <section class="usage-section">
            <div class="container">
                <div class="row heading">
                    <div class="col-lg-12 text-xs-center">
                        <h2>{% trans "Explore functions." %}</h2>
                        <p>{% trans "From Bitcoin to passwords, accounts, documents or emails." %}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-4 text-xs-center">
                        <div class="item money">
                            <h4 class="card-title">{% trans "Bitcoin" %}</h4>

                            <div class="content text-block">
                                {% blocktrans %}
                                <p>The most trusted and secure way to store your bitcoins. Receive and send without
                                    risk, enjoy great comfort and ease of use. <!-- Compatible with the best Bitcoin
                                    wallets and services. --> </p>
                                {% endblocktrans %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 text-xs-center">
                        <div class="item money">
                            <h4 class="card-title">{% trans "Dash, Litecoin and others" %}</h4>

                            <div class="content text-block">
                                {% blocktrans %}
                                <p>
                                    Protect a variety of alternative digital currencies. <!-- Ethereum, --> Litecoin, DASH
                                    and Zcash with a single device. <!-- Combine TREZOR powers with growing possibilities. -->
                                </p>
                                {% endblocktrans %}
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-6 col-lg-4 text-xs-center">
                        <div class="item identity">
                            <h4 class="card-title">{% trans "Password Manager" %}</h4>
                            <div class="content text-block">
                                {% blocktrans %}
                                <p>Password Manager encrypts login credentials and auto-syncs them to
                                    your private cloud, hassle-free, with TREZOR.</p>
                                {% endblocktrans %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 text-xs-center">
                        <div class="item identity">
                            <h4 class="card-title">{% trans "Secure Admin Access" %}<br />{% trans "With SSH" %}
                            </h4>
                            <div class="content text-block">
                                {% blocktrans %}
                                <p>Protect access to your servers, data or websites administration. SSH login with
                                    simple or multiple sessions<!-- from a sub-shell-->.</p>
                                {% endblocktrans %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 text-xs-center">
                        <div class="item identity">
                            <h4 class="card-title">{% trans "Password-less Login" %}</h4>
                            <div class="content text-block">
                                {% blocktrans %}
                                <p><!-- Sign up to websites without having to reveal your name or email
                                    address. Secure your user accounts against hackers and unauthorized access via
                                    TREZOR Connect. -->
                                    Securely sign up and login with a click of a button, using TREZOR Connect.
                                </p>
                                {% endblocktrans %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 text-xs-center">
                        <div class="item other">
                            <h4 class="card-title">{% trans "Sign &amp; Encrypt Emails" %}</h4>

                            <div class="content text-block">
                                {% blocktrans %}
                                <p>Gmail, Protonmail or Thunderbird, TREZOR encrypts every
                                    email you create with GPG.</p>
                                {% endblocktrans %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 text-xs-center">
                        <div class="item identity">
                            <h4 class="card-title">{% trans "2-Factor Authentication" %}</h4>
                            <div class="content text-block">
                                {% blocktrans %}
                                <p>Add extra security to your online accounts. Enjoy U2F with TREZOR. <!-- Your TREZOR confirms access to the website with a
                                    unique signature, securely created and sealed on its memory. --> </p>
                                {% endblocktrans %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 text-xs-center">
                        <div class="item other">
                            <h4 class="card-title">{% trans "Sign &amp; Verify Messages" %}</h4>

                            <div class="content text-block">
                                {% blocktrans %}
                                <p>Easily prove your ownership of messages and documents, or verify others'. <!-- It is very simple with TREZOR. --> </p>
                                {% endblocktrans %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 text-xs-center">
                        <div class="item money">
                           
                            <h4 class="card-title">{% trans "Explore Integrations" %}</h4>
                            
                            <div class="content text-block">
                                {% blocktrans %}
                                <p>Connect your TREZOR to third party wallets and services.<!-- Pay bills and invoices to international bank accounts with bitcoins. Receive payroll or new bitcoins from exchanges directly to
                                    the safety of your TREZOR, thanks to multiple integrations. --></p>
                                {% endblocktrans %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div id="features">
        <section class="features-section">
            <div class="container">
                <div class="row heading">
                    <div class="col-lg-12  text-xs-center">
                        <h2>{% trans "Security by Design." %}</h2>
                        {% blocktrans %}
                        <p>Advanced cryptography, reliable hardware, simple interface.<br /> All in perfect cooperation.
                        </p>
                        {% endblocktrans %}
                    </div>
                </div>
                <div class="hidden-md-up" id="features-list">
                    <div class="1 entry text-xs-center" id="case">
                        <h3>{% trans "Small and Sturdy" %}</h3>
                        <p>{% blocktrans %}Fits into your palm.<br /> Tamper-proof, water-resistant and extremely
                            durable.{% endblocktrans %}</p>
                    </div>
                    <div class="2 entry text-xs-center" id="usb">
                        <h3>{% trans "Unhackable" %}</h3>
                        <p>{% blocktrans %}TREZOR has no online connectivity, but only a secure USB connection.<!-- <br>The safe
                            haven is offline! --> {% endblocktrans %}</p>
                    </div>
                    <div class="3 entry  text-xs-center" id="display">
                        <h3>{% trans "Trust your own eyes" %}</h3>
                        <p>{% blocktrans %}Check important transaction details before you confirm.<br /><!-- No
                            matter how infected is your computer, --> This display will always tell you the truth.
                            {% endblocktrans %}</p>
                    </div>
                    <div class="4 entry" id="buttons">
                        <h3>{% trans "Trust your own hands" %}</h3>
                        <p>{% blocktrans %}Everything important needs your direct physical approval. <!-- <br/> Just click 'Confirm'. No
                            hacker or virus can hit the 'Confirm' button instead of you. -->
                            {% endblocktrans %}</p>
                    </div>
                    <div class="5 entry" id="inside">
                        <h3>{% trans "Powerful Cryptography" %}</h3>

                        <p>{% blocktrans %}TREZOR uses and creates the most advanced standards in cryptography and
                            Bitcoin.
                            {% endblocktrans %}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 hidden-sm-down text-xs-center learn-more">
                        <div class="point" id="g"></div>
                        <canvas id="featureCanvas" width="500" height="500"></canvas>
                    </div>
                </div>
            </div>
        </section>
        <section class="experts-section">
            <div class="container">
                <div class="row heading">
                    <div class="col-lg-12  text-xs-center">
                        <h2>{% trans "Endorsed by Experts." %}</h2>
                        <p>{% trans "Loved by thousands of users all over the World." %}</p>
                    </div>
                </div>
                <div class="row experts">
                    <div class="col-md-4 text-xs-center">
                        <div class="header balaji"></div>
                        <h4>Balaji S. Srinivasan, PhD</h4>
                        <p class="title">{% trans "CEO and Cofounder, 21" %}</p>
                        <blockquote>
                            {% blocktrans %}
                            TREZOR is a pioneering hardware wallet, and a great way to store your digital currency
                            locally.
                            {% endblocktrans %}
                        </blockquote>
                    </div>
                    <div class="col-md-4 text-xs-center">
                        <div class="header pamela"></div>
                        <h4>Pamela Morgan</h4>
                        <p class="title">{% trans " CEO Third Key Solutions LLC" %}</p>
                        <blockquote>
                            {% blocktrans %}
                            With TREZOR you don't need to be a security expert to have expert level security.
                            {% endblocktrans %}
                        </blockquote>
                    </div>
                    <div class="col-md-4 text-xs-center">
                        <div class="header jon"></div>
                        <h4>Jon Matonis</h4>
                        <p class="title">{% trans "Economist" %}</p>
                        <blockquote>
                            {% blocktrans %}
                            Hardware wallets have become the standard for secure, long-term bitcoin storage.
                            Trezor is the gold standard for hardware wallets.
                            {% endblocktrans %}
                        </blockquote>
                    </div>
                </div>
                <div class="row heading">
                    <div class="col-lg-12  text-xs-center">
                        <h2>{% trans "Just a few media mentions ..." %}</h2>
                    </div>
                </div>
                <div class="row media">
                    <div class="col-md-2 text-xs-center">
                        <a href="http://www.forbes.com/sites/ericxlmu/2014/10/15/meet-trezor-a-bitcoin-safe-that-can-fit-into-your-pocket/"><img
                                src="{% static '/images/logos/forbes-logo.png' %}" alt=""/></a>
                    </div>
                    <div class="col-md-2  text-xs-center">
                        <a href="https://vimeo.com/116250492"><img src="{% static '/images/logos/cnn-logo.png' %}"
                                                                   alt=""/></a>
                    </div>
                    <div class="col-md-2 text-xs-center">
                        <a href="http://www.coindesk.com/review-bitcoin-vault-trezor-lives-name/"><img
                                src="{% static '/images/logos/coindesk-logo.png' %}" alt=""/></a>
                    </div>
                    <div class="col-md-2 text-xs-center">
                        <a href="http://cointelegraph.com/news/112947/who-will-keep-you-safe-a-comparison-of-bitcoin-wallets-that-arent-digital"><img
                                src="{% static '/images/logos/cointelegraph-logo.png' %}" alt=""/></a>
                    </div>
                    <div class="col-md-2 text-xs-center">
                        <a href="http://insidebitcoins.com/news/bitcoin-hardware-wallets-could-become-as-ubiquitous-as-smartphones/27208"><img
                                src="{% static '/images/logos/insidebtc-logo.png' %}" alt=""/></a>
                    </div>
                    <div class="col-md-2 text-xs-center">
                        <a href="https://bitcoinmagazine.com/17223/trezor-the-bitcoin-wallet-unicorn/"><img
                                src="{% static '/images/logos/btcmag-logo.png' %}" alt=""/></a>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <section class="specification-section" id="specification">
        <div class="container">
            <div class="row heading">
                <div class="col-lg-12  text-xs-center">
                    <h2>{% trans "Technical specification." %}</h2>
                    {% blocktrans %}
                    <p>We trimmed away everything that could be hacked and focused on powerful hardware features and software
                        logic.</p>
                    {% endblocktrans %}
                </div>
            </div>
            <div class="row">

                <div class="col-lg-4 col-md-6">
                    <div class="row spec">
                        <p class="spec-block">
                            <b>CPU</b><span>120 MHz embedded ARM processor (Cortex M3)</span>
                        </p>

                        <p class="spec-block">
                            <b>Screen</b><span>Bright OLED - 128x64 pixels</span>
                        </p>
                        <p class="spec-block">
                            <b>Size</b><span>60mm x 30mm x 6mm<br/>(2.4 x 1.2 x 0.2 in)</span>
                        </p>

                        <p class="spec-block">
                            <b>Weight</b><span>12g (0.42 oz)</span>
                        </p>

                        <p class="spec-block">
                            <b>Temp</b><span>-20°C to +60°C (-4°F - +140°F)</span>
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <img class="shape" src="{% static '/images/trezor_shape3.svg' %}"/>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="row spec">
                        <p class="spec-block">
                            <b>Conection</b><span>MicroUSB to desktop or mobile</span>
                        </p>
                        <p class="spec-block">
                            <b>Desktop</b><span>Windows, macOS, Linux</span>
                        </p>
                        <p class="spec-block">
                            <b>Mobile</b><span>Android</span>
                        </p>
                        <p class="spec-block">
                            <b>Certified</b><span>CE and RoHS certified (quality, reliability and
                        environmental standards)</span>
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <section class="devs-section" id="developers">
        <div class="container">
            <div class="row heading">
                <div class="col-lg-12 text-xs-center">
                    <h2>{% trans "Developers, come along!" %}</h2>
                    <p>Interested in online security and privacy? Care to make the digital world a better
                        place?<br>Join our open network of security experts and programmers.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 text-xs-center button-area">
                    <a class="btn btn-primary-outline" href="https://github.com/trezor" role="button"><i
                            class="ion-social-github"></i> {% trans "Github Repos"%}</a>
                    <a class="btn btn-primary-outline" href="https://gitter.im/trezor/community" role="button"><i
                            class="ion-android-chat"></i> {% trans "Dev Community Chat"%}</a>
                    <a class="plain btn-primary-noline" href="https://doc.satoshilabs.com/trezor-tech/index.html">
                        {% trans "Learn from TREZOR Developer's Guide"%}
                    </a>
                </div>
                <div class="col-sm-6 col-xs-12 text-sm-left text-xs-center">
                    <h3>{% trans "Learn. Collaborate. Innovate."%}</h3>
                    {% blocktrans %}
                    <p>Join us and work on top-notch global projects related to Bitcoin and security. Become a part of
                        our team
                        resposible for several influential projects that marked milestones in the Bitcoin world. We love to work
                        with talented and enthusiastic developers, marketers or designers.</p>
                    {% endblocktrans %}
                </div>
            </div>
        </div>
    </section>
    <section class="team-section" id="team">
        <div class="container">
            <div class="row heading">
                <div class="col-lg-12  text-xs-center">
                    <h2>{% trans "Meet Our Team." %}</h2>
                    {% blocktrans %}
                    <p>Our team features some of the most recognized Bitcoin and security experts, a dedicated support team,
                        as well as the most qualified Jack Russell in the world.</p>
                    {% endblocktrans %}
                </div>
            </div>

            <div class="row">


                <div class="col-lg-2 col-md-4 col-sm-4 person text-xs-center">
                    <div class="header pepitka"></div>
                    <div class="content">
                        <div class="description">
                            <h4>Pepita</h4>

                            <p class="title">{% trans "Door Supervisor" %}</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-md-4 col-sm-4 person shuffle text-xs-center">
                    <div class="header marek"></div>
                    <div class="content">
                        <div class="description">
                            <h4>Marek "Slush" Palatinus</h4>

                            <p class="title">{% trans "Architect" %}</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-md-4 col-sm-4 person shuffle text-xs-center">
                    <div class="header pavol"></div>
                    <div class="content">
                        <div class="description">
                            <h4>Pavol "Stick" Rusnak</h4>

                            <p class="title">{% trans "Alchemist" %}</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-md-4 col-sm-4 person shuffle text-xs-center">
                    <div class="header peter"></div>
                    <div class="content">
                        <div class="description">
                            <h4>Peter "Buly" Bulak</h4>

                            <p class="title">{% trans "Catalyst" %}</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-md-4 col-sm-4 person shuffle text-xs-center">
                    <div class="header jochen"></div>
                    <div class="content">
                        <div class="description">
                            <h4>Jochen Hoenicke</h4>

                            <p class="title">{% trans "Hacker" %}</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-md-4 col-sm-4 person shuffle text-xs-center">
                    <div class="header peca"></div>
                    <div class="content">
                        <div class="description">
                            <h4>Jan Pecinovsky</h4>

                            <p class="title">{% trans "Operations" %}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-lg-2 col-md-4 col-sm-4 person shuffle text-xs-center">
                    <div class="header kata"></div>
                    <div class="content">
                        <div class="description">
                            <h4>Katerina Nemeckova</h4>
                            <p class="title">{% trans "Office" %}</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-md-4 col-sm-4 person shuffle text-xs-center">
                    <div class="header honza"></div>
                    <div class="content">
                        <div class="description">
                            <h4>Jan Pochyla</h4>
                            <p class="title">{% trans "Developer" %}</p>
                        </div>
                    </div>
                </div>


                <div class="col-lg-2 col-md-4 col-sm-4 person shuffle text-xs-center">
                    <div class="header karel"></div>
                    <div class="content">
                        <div class="description">
                            <h4>Karel Bilek</h4>
                            <p class="title">{% trans "Developer" %}</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-md-4 col-sm-4 person shuffle text-xs-center">
                    <div class="header jensen"></div>
                    <div class="content">
                        <div class="description">
                            <h4>Peter Jensen</h4>
                            <p class="title">{% trans "Developer" %}</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-md-4 col-sm-4 person shuffle text-xs-center">
                    <div class="header vojtech"></div>
                    <div class="content">
                        <div class="description">
                            <h4>Vojtech Cerny</h4>

                            <p class="title">{% trans "Support" %}</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-md-4 col-sm-4 person shuffle text-xs-center">
                    <div class="header ben"></div>
                    <div class="content">
                        <div class="description">
                            <h4>Karel Benčič</h4>
                            <p class="title">{% trans "Support" %}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-lg-2 col-md-4 col-sm-4 person shuffle text-xs-center">
                    <div class="header bach"></div>
                    <div class="content">
                        <div class="description">
                            <h4>Bach Nguyen</h4>

                            <p class="title">{% trans "Community" %}</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
</main>

{% endblock %}
