{% extends "base.html" %}
{% load i18n %}
{% block body %}
<div class="jumbotron">
    <div class="container">
        {% blocktrans %}<h1 class="display-3 text-xs-right">Original hardware wallet.</h1>{% endblocktrans %}
        <p class="lead text-xs-right">{% trans "This is a placeholder for the big headline." %}</p>
        <p class="lead text-xs-right">
            <br />
            <a class="btn btn-secondary-outline" href="#" role="button">{% trans "Buy now" %}</a>
        </p>
    </div>
</div>

<div class="container sub-nav hidden-sm-down">
    <nav class="nav nav-inline">
        <a class="nav-link active" href="#">{% trans "Usage" %}</a>
        <a class="nav-link" href="#">{% trans "Features" %}</a>
        <a class="nav-link" href="#">{% trans "Developers" %}</a>
        <a class="nav-link" href="#">{% trans "Team" %}</a>
        <a class="btn btn-primary-outline buy pull-xs-right" href="#" role="button">{% trans "Buy for $99" %}</a>
    </nav>
</div>
<section class="intro">
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-xs-center">
            {% blocktrans %}
                <h2>Secure your digital life</h2>
                <p>in 3 simple steps</p>
            {% endblocktrans %}
            <br />
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 text-xs-center">
            <h4>{% trans "Set up in private." %}</h4>
            <p>{% trans "Get started within minutes in the comfort of your home. Completely registration-free. No identity reuse, device tracking or backdoors. " %}<br /><a href="">{% trans "Learn more" %}</a></p>
        </div>

        <div class="col-md-4 text-xs-center">
            <h4>{% trans "Use with ease." %}</h4>
            <p>{% trans "Trust your own eyes and your own hands. Defend your digital life with a simple button click." %}<br /><a href="">{% trans "Learn more" %}</a></p>
        </div>

        <div class="col-md-4 text-xs-center">
            <h4>{% trans "Restore when lost." %}</h4>
            <p>{% trans "Use your secret sentence of 24 words to quickly regain acces to all your TREZOR protected money, transaction history, websites or documents." %}<br /><a href="">{% trans "Learn more" %}</a></p>
        </div>

    </div>
</div>
</section>
<section class="usage">
    <div class="container money">
        <div class="row">
            <h2>Secure your digital money</h2>
            <p>Bitcoins, Litecoins, DASH and Ethereum.</p>
            <p>With one TREZOR and ultimate peace of mind.</p>
        </div>
    </div>
    <div class="container identity">
        <div class="row">

        </div>
    </div>
    <div class="container documents">
        <div class="row">

        </div>
    </div>
</section>
{% endblock %}
