{% extends "base.html" %}
{% load i18n %}
{% block body %}
<section class="tpm-jumbo" id="tpm">
    <div class="overlay-image"></div>
    <div class="overlay-color"></div>
    <div class="overlay-image2"></div>
    <div class="container overlay-container">
        <div class="col-md-5 col-sm-12 text-md-left text-sm-center">
            <div class="top text-xs-center">
                <img src="{% static '/static/images/vertical-trezor-logo.png' %}"/>
                <h1>{% trans "Password Manager" %}</h1>
                <p class="lead">{% trans "Say goodbye to your master password." %}</p>
            </div>
            <div class="bottom text-xs-center">
                <p>
                    <a class="btn btn-primary-full shop-btn"
                       href="https://chrome.google.com/webstore/detail/trezor-password-manager/imloifkgjagghnncjkhggdhalmcnfklk"
                       role="button">
                        <span class="glyphicon glyphicon-chrome"></span> {% trans "Download for Chrome" %}</a>
                    <small>
                        <div>
                            {% trans "Don't have a TREZOR?" %}
                            <a ng-href="https://trezor.io/" target="_blank" class="arrow"
                               href="https://trezor.io/">{% trans "Get one" %}</a>
                        </div>
                    </small>
                </p>
            </div>
        </div>
    </div>
</section>
<section class="tpm-info text-xs-center">
    <a href="https://medium.com/@satoshilabs/1b260e5fbe6b" target="_blank" class="arrow">
        {% trans "Public Beta Announcement" %}
    </a>
</section>

<section class="tpm-trezor-owner">
    <div class="container">
        <div class="row heading">
            <div class="col-xs-12 text-xs-center">
                <h2>{% trans "Expert-level encryption in your hands." %}</h2>
                <p>
                    {% blocktrans %}
                    TREZOR Password Manager benefits from the proven security design of the most trusted bitcoin
                    hardware wallet.
                    {% endblocktrans %}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-12 text-xs-center">
                <div class="text-block">
                    <div class="presentation setup"></div>
                    <h3>{% trans "Secure access to passwords." %}</h3>
                    <p>
                        {% blocktrans %}
                        Forget about master passwords. A simple click on your TREZOR button is a much more secure way to
                        unlock your password manager.
                        {% endblocktrans %}
                    </p>
                </div>
            </div>

            <div class="col-md-4 col-sm-12 text-xs-center">
                <div class="text-block">
                    <div class="presentation use"></div>
                    <h3>{% trans "Original TREZOR security." %}</h3>
                    <p>
                        {% blocktrans %}
                        The open-source TREZOR code has been reviewed by renowned security experts across the globe.
                        {% endblocktrans %}
                    </p>
                </div>
            </div>

            <div class="col-md-4 col-sm-12 text-xs-center">
                <div class="text-block">
                    <div class="presentation recover"></div>
                    <h3>{% trans "Lost? Restore." %}</h3>
                    <p>
                        {% blocktrans %}
                        Use your recovery seed of 24 words
                        to regain access to you passwords, encrypted on Dropbox or Google
                        Drive.
                        {% endblocktrans %}
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="tpm-coffee">
    <div class="container">
        <div class="row heading">
            <div class="col-xs-12 text-xs-center">
                <a class="btn btn-third-outline" href="mailto:support@satoshilabs.com" role="button"><i
                        class="ion-social-github"></i> {% trans "Send us feedback"%}</a>
                <div>
                    <small>
                        {% blocktrans %}
                        The TREZOR Password Manager has been released for public beta testing and we welcome your
                        feedback and bug reports.
                        {% endblocktrans %}
                    </small>

                </div>
            </div>
        </div>
    </div>
</section>
<section class="tpm-faq">
    <div class="container">
        <div class="row heading">
            <div class="col-xs-12 text-xs-center">
                <h2>{% trans "Frequently Asked Questions" %}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-md-4 col-xs-12">
                        <b>Why is a "master password" a bad idea?</b>
                    </div>
                    <div class="col-md-8 col-xs-12">
                        <p>
                            {% blocktrans %}
                            Traditional password managers share one weak point - the master password. Once someone knows
                            your Master Password, they can get all of your passwords.
                            TREZOR Password Manager doesn't require a master password. Instead, your TREZOR is the
                            master key to your passwords.
                            {% endblocktrans %}
                        </p>
                        <p>
                            {% blocktrans %}
                            Reports of master password breaches in <a
                                href="http://thehackernews.com/2014/07/critical-vulnerability-and-privacy.html">RoboForm</a>
                            and <a
                                href="https://www.wired.com/2015/06/hack-brief-password-manager-lastpass-got-breached-hard/">LastPass</a>.
                            {% endblocktrans %}
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-xs-12">
                        <b>{% trans "Why use TREZOR?" %}</b>
                    </div>
                    <div class="col-md-8 col-xs-12">
                        <p>
                            {% blocktrans %}
                            TREZOR is the most secure and most ubiquitous hardware wallet in the world. It uses
                            cutting-edge cryptography to protect digital money and
                            any valuable online assets such as passwords.
                            {% endblocktrans %}
                        </p>
                        <p>
                            {% blocktrans %}
                            Since its launch in 2014, TREZOR has been embraced by users in almost 100 countries and
                            continues to receive excellent reviews from renowned security experts.
                            {% endblocktrans %}
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-xs-12">
                        <b>{% trans "How does TREZOR encrypt password entries?" %}</b>
                    </div>
                    <div class="col-md-8 col-xs-12">
                        <p>
                            {% blocktrans %}
                            TREZOR encrypts each password entry separately with a
                            unique key.
                            {% endblocktrans %}
                        </p>
                        <p>
                            {% blocktrans %}
                            The signature is derived from a unique private key on the TREZOR. All private keys are
                            generated in its secure offline environment and never leave the device, making TREZOR
                            impenetrable by hackers or malware.
                            {% endblocktrans %}
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-xs-12">
                        <b>{% trans "How can I import / export my passwords?" %}</b>
                    </div>
                    <div class="col-md-8 col-xs-12">
                        <p>
                            {% blocktrans %}
                            While we are in the testing phase, you can't. We will add these features once all basic
                            functionalities are well tested and stable across most platforms.
                            {% endblocktrans %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock body %}

{% block scripts %}
<script type='text/javascript' charset='utf-8' src="{% static '/static/js/vendor/vendors.js' %}"></script>
<script type='text/javascript' charset='utf-8' src="{% static '/static/js/sources/page_passwords.js' %}"></script>
{% endblock %}
