{% extends "base.html" %}
{% load i18n %}
{% block body %}
<section class="tpm-jumbo" id="tpm">
    <div class="overlay-image"></div>
    <div class="overlay-color"></div>
    <div class="container">
        <div class="col-xs-12 text-xs-center">
            <div class="top">
                <img src="{% static '/static/images/vertical-trezor-logo.png' %}"/>
                <h1>Password Manager</h1>
                <p class="lead">Say goodbye to your master passwords.</p>
            </div>
            <div class="bottom">
                <p class="text-xs-center">
                    <a class="btn btn-primary-full shop-btn"
                       href="https://chrome.google.com/webstore/detail/trezor-password-manager/imloifkgjagghnncjkhggdhalmcnfklk"
                       role="button">
                        <span class="glyphicon glyphicon-chrome"></span> {% trans "Download for Chrome" %}</a>
                    <small>
                        <div>Don't have a TREZOR?
                        <a ng-href="https://trezor.io/" target="_blank" class="arrow"
                           href="https://trezor.io/">Get one</a></div>
                    </small>
                </p>
            </div>
        </div>
    </div>
</section>
<section class="tpm-info text-xs-center">
    <a href="https://medium.com/@satoshilabs/1b260e5fbe6b" target="_blank" class="arrow">Public Beta Announcement</a>
</section>

<section class="tpm-trezor-owner">
    <div class="container">
        <div class="row heading">
            <div class="col-xs-12 text-xs-center">
                <h2>{% trans "Expert-level encryption in your hands." %}</h2>
                <p>TREZOR Password Manager benefits from the proven security design of the most trusted bitcoin hardware wallet.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-12 text-xs-center">
                <div class="text-block">
                    <div class="presentation setup"></div>
                    <h3>{% trans "Secure access to passwords." %}</h3>
                    {% blocktrans %}
                    <p>Forget about master passwords. A simple click on your TREZOR button is a much more secure way to unlock your password manager. </p>
                    {% endblocktrans %}
                    <a href="https://doc.satoshilabs.com/trezor-user/settingup.html" class="arrow">
                        {% trans "More about setup" %}</a>
                </div>
            </div>

            <div class="col-md-4 col-sm-12 text-xs-center">
                <div class="text-block">
                    <div class="presentation use"></div>
                    <h3>{% trans "Original TREZOR security." %}</h3>
                    {% blocktrans %}
                    <p>Using TREZOR is easy. Just follow the instructions on the display and click the button
                        to confirm important actions.</p>
                    {% endblocktrans %}
                </div>
            </div>

            <div class="col-md-4 col-sm-12 text-xs-center">
                <div class="text-block">
                    <div class="presentation recover"></div>
                    <h3>{% trans "Lost? Restore." %}</h3>
                    {% blocktrans %}
                    <p>Use your secret sentence of 24 words
                        to restore all your keys into a new device and regain access to the encrypted Dropbox or Google drive files.
                    </p>
                    {% endblocktrans %}
                    <a href="https://doc.satoshilabs.com/trezor-user/recovery.html" class="arrow">
                        {% trans "Help with recovery" %}</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock body %}

{% block scripts %}
<script type='text/javascript' charset='utf-8' src="{% static '/static/js/vendor/vendors.js' %}"></script>
<script type='text/javascript' charset='utf-8' src="{% static '/static/js/sources/page_error.js' %}"></script>
{% endblock %}
