{% extends "base.html" %}
{% load i18n %}
{% block body %}
<section class="resellers" id="resellers">
    <div class="container">
        <h1>Resellers</h1>

        <div class="search_form">
            <form action="trezor.io/resellers/resellers_earch.html" type="get" class="input-wrapper">
                <input type="search" name="company_search" placeholder="Quick filter" id="search">
            </form>
        </div>

        <hr>
        <div id="content" class="row">
            <div class="loader-wrapper">
                <div class="loader" id="loader">{% trans "Loading..." %}</div>
            </div>
        </div>
    </div>


    <div class="tpl-ghost">
        <article id="area">
            <div class="resellers-card">
                <div class="img-wrapper">
                    <img class="picture" src="../static/images/logo.png" alt="image not found"
                         onerror="this.src='../static/images/logo.png'"/>
                </div>
                <div class="placeholder-text">
                    <div class="name"></div>
                    <div class="country"></div>
                </div>
            </div>
        </article>
    </div>
</section>
{% endblock body %}

{% block scripts %}
<script type='text/javascript' charset='utf-8' src="{% static '/static/js/vendor/vendors.js' %}"></script>
<script type='text/javascript' charset='utf-8' src="{% static '/static/js/sources/page_resellers.js' %}"></script>
{% endblock %}
