{% extends "base.html" %}
{% load i18n %}
{% block body %}
<section class="start" id="start">
    <div class="container">
        <div class="col-xs-12 text-xs-center thank-intro">
            <div>
                <h2>{% trans "Thank you!" %}</h2>
                <p class="lead">
                    {% blocktrans %}
                    Finally in your hands! Now, it's time for 3 simple steps before you setup your device.
                    {% endblocktrans %}
                </p>
            </div>
        </div>
        <div class="col-xs-12 step">
            <div class="row">
                <div class="col-md-2 text-xs-center"><p class="order">1.</p></div>
                <div class="col-md-10 content">
                    <div class="row">
                        <div class="col-xs-12 text-md-left text-sm-center">
                            <h4>{% trans "Learn how PIN works." %}</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12 text-md-left text-sm-center">
                            <p>
                                {% blocktrans %}
                                <strong>PIN</strong> protects your TREZOR from unauthorized access. Use at
                                least 4 different numbers. Try to avoid simple PINs as '1234'.
                                {% endblocktrans %}

                            </p>
                            <p>
                                {% blocktrans %}
                                During the TREZOR setup, you will enter your new
                                PIN twice. Notice that the numbers shown on TREZOR change between the entries.
                                {% endblocktrans %}
                            </p>
                            <p>
                                <a class="arrow" target="_blank"
                                   href="https://doc.satoshilabs.com/trezor-user/enteringyourpin.html"
                                   role="button">{% trans "Learn more about PIN" %}</a>
                            </p>
                        </div>

                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-xs-12 text-xs-center">
                                    <iframe width="90%" height="300px" src="https://youtube.com/embed/sx4XzJRpsig"
                                            frameborder="0" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 step">
            <div class="row">
                <div class="col-md-2 text-xs-center"><p class="order">2.</p></div>
                <div class="col-md-10 content">
                    <div class="row">
                        <div class="col-xs-12  text-md-left text-sm-center">
                            <h4>{% trans "Understand the recovery seed." %}</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 text-md-left text-sm-center">
                            <p>
                                {% blocktrans %}
                                <strong>Recovery Seed</strong> is the 24-word long recovery phrase, with which you
                                can
                                restore your
                                wallet, in case of theft or loss. It is absolutely crucial to write down the seed!
                                The
                                recovery seed will be generated for you during the setup of your TREZOR.
                                {% endblocktrans %}
                            </p>
                            <p>
                                <i class="important">
                                    {% blocktrans %}
                                    Never make a digital copy of your recovery seed and never upload it
                                    online. Keep your
                                    recovery seed in a safe place. TREZOR cannot be held liable for financial losses
                                    incurred through the client’s improper care of sensitive information.
                                    {% endblocktrans %}
                                </i>
                            </p>
                            <p>
                                <a class="arrow" target="_blank"
                                   href="https://doc.satoshilabs.com/trezor-user/recovery.html"
                                   role="button">{% trans "Learn more about Recovery" %}</a>
                            </p>
                        </div>
                        <div class="col-md-6 text-xs-center">
                            <img src="https://doc.satoshilabs.com/trezor-user/_images/trezor-reset.jpg" width="90%"
                                 alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 step subscribe-step">
            <div class="row">
                <div class="col-md-2 text-xs-center"><p class="order">3.</p></div>
                <div class="col-md-10 content">
                    <div class="row">
                        <div class="col-xs-12 text-md-left text-sm-center">
                            <h4>{% trans "Stay updated about important news." %}</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6  text-md-left text-sm-center">
                            <p>
                                {% blocktrans %}
                                In order to stay fully informed about security and feature updates from our
                                experts,
                                please subscribe to our TREZOR newsletter.
                                {% endblocktrans %}
                            </p>
                        </div>
                        <div class="col-md-6">
                            <form id="mail-subscribe"
                                  action="//trezor.us7.list-manage.com/subscribe/post-json?u=a87eb6070c965ef1be1b02854&id=0ac8b24e69&c=?"
                                  method="get" novalidate target="_blank" name="mc-embedded-subscribe-form"
                                  id="mc-embedded-subscribe-form">
                                <div id="mc_embed_signup_scroll">
                                    <input type="email" id="mce-EMAIL" name="EMAIL" class="email-form" required
                                           placeholder="Your E-mail Address">
                                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input
                                            type="text" name="b_a87eb6070c965ef1be1b02854_0ac8b24e69" tabindex="-1"
                                            value=""></div>
                                    <input class="btn button btn-primary-full" name="submit"
                                           value="Subscribe and continue" type="submit" id="mc-embedded-subscribe"/>
                                    <a class="arrow gotoNext" role="button">{% trans "No, skip it" %}</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 text-xs-center step4" id="step4">
            <div class="row">
                <div>
                    <p>
                        {% trans "Please take some time to familiarize yourself with our policies first." %}
                    </p>
                    <a class="arrow" target="_blank"
                       href="https://shop.trezor.io/static/shared/warranty-refund-policy.pdf"
                       role="button">{% trans "Warranty information" %}</a>
                    <br/><br/>
                    <a class="btn btn-primary-full" href="https://wallet.trezor.io" role="button">
                        {% trans "Done, let's go!" %}</a>
                    <div>
                        <small>
                            {% trans "You will be redirected to TREZOR Wallet to setup your device." %}
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock body %}

{% block scripts %}
<script type='text/javascript' charset='utf-8' src="{% static '/static/js/vendor/vendors.js' %}"></script>
<script type='text/javascript' charset='utf-8' src="{% static '/static/js/sources/page_start.js' %}"></script>
{% endblock %}
