{% extends "base.html" %}
{% load i18n %}
{% block body %}
<div class="jumbotron-help">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-xs-center">
                <h1>{% trans "Support Center." %}</h1>
                <p class="lead">
                    {% trans "How can we help you?" %}
                </p>
                <form action="http://doc.satoshilabs.com/trezor-user/search.html" type="get" class="input-wrapper">
                    <input type="search" name="q" placeholder="I need help with... e.g. Entering PIN" id="search">
                </form>
            </div>
        </div>
    </div>
</div>
<section class="help-nav" id="help-center-nav">
    <div class="container">
        <div class="row">
            <div class="col-lg-3  col-md-6 large-tile">
                <a href="{% url '/troubleshooter' %}" class="nav-link">
                    <i class="fa fa-life-ring" aria-hidden="true"></i>
                    Troubleshooter
                </a>
            </div>
            <div class="col-lg-3  col-md-6 large-tile">
                <a href="https://doc.satoshilabs.com/trezor-user/" class="nav-link">
                <i class="fa fa-address-book-o" aria-hidden="true"></i>
                User Manual
                </a>
            </div>
            <div class="col-lg-3 col-md-12">
                <div class="row">
                    <div class="col-xs-12">
                        <a href="http://doc.satoshilabs.com/trezor-faq/index.html" class="nav-link">
                            <i class="fa fa-question-circle-o" aria-hidden="true"></i>
                            FAQ
                        </a>
                    </div>
                    <div class="col-xs-12">
                        <a href="http://status.trezor.io/" class="nav-link">
                            <i class="fa fa-heartbeat" aria-hidden="true"></i>
                            System status
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="row">
                    <div class="col-xs-12">
                        <a href="{% url '/troubleshooter/#2' %}" class="nav-link">
                            <i class="fa fa-truck" aria-hidden="true"></i>
                            Orders &amp; Shipping
                        </a>
                    </div>
                    <div class="col-xs-12">
                        <a href="https://www.reddit.com/r/TREZOR/top/?sort=top&t=week" class="nav-link">
                            <i class="icon-bubbles4" aria-hidden="true"></i>
                            Ask the Community
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="help-content" id="help-content">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <p>
                    95% of inquiries can be solved through the <a href="{% url '/troubleshooter' %}">Troubleshooter</a> or via our <a href="https://doc.satoshilabs.com/trezor-user/">User Manual</a>.
                    <br /><br />
                    Still can't find what you are looking for?
                    <br />
                    If you still need an answer, try our <a href="https://www.reddit.com/r/TREZOR/top/?sort=top&t=week">Community</a>.
                </p>
            </div>
            <div class="col-sm-4">
                <a class="twitter-timeline" data-lang="en" data-height="350" data-link-color="#4cc148" href="https://twitter.com/TREZOR">Tweets by TREZOR</a>
            </div>
        </div>
    </div>
</section>
{% endblock body %}

{% block scripts %}
<script type='text/javascript' charset='utf-8' src="{% static '/static/js/vendor/vendors.js' %}"></script>
<script type='text/javascript' charset='utf-8' src="{% static '/static/js/sources/page_support.js' %}"></script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
{% endblock %}
