{% extends "base.html" %}
{% load i18n %}
{% block body %}
<div class="jumbotron-help">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-xs-center">
                <h1>{% trans "Support Center." %}</h1>
                <p class="lead">
                    {% trans "How can we help you?" %}
                </p>
                <form action="https://doc.satoshilabs.com/trezor-user/search.html" type="get" class="input-wrapper">
                    <input type="search" name="q" placeholder="I need help with... e.g. Entering PIN" id="search">
                </form>
            </div>
        </div>
    </div>
</div>
<section class="help-nav" id="help-center-nav">
    <div class="container">
        <div class="row">
            <div class="col-lg-3  col-md-6 large-tile">
                <a href="{% url '/troubleshooter' %}" class="nav-link">
                    <i class="fa fa-life-ring" aria-hidden="true"></i>
                    Troubleshooter
                </a>
            </div>
            <div class="col-lg-3  col-md-6 large-tile">
                <a href="https://doc.satoshilabs.com/trezor-user/" class="nav-link">
                    <i class="fa fa-address-book-o" aria-hidden="true"></i>
                    User Manual
                </a>
            </div>
            <div class="col-lg-3 col-md-12">
                <div class="row">
                    <div class="col-xs-12">
                        <a href="http://doc.satoshilabs.com/trezor-faq/index.html" class="nav-link">
                            <i class="fa fa-question-circle-o" aria-hidden="true"></i>
                            FAQ
                        </a>
                    </div>
                    <div class="col-xs-12">
                        <a href="http://status.trezor.io/" class="nav-link">
                            <i class="fa fa-heartbeat" aria-hidden="true"></i>
                            System status
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="row">
                    <div class="col-xs-12">
                        <a href="{% url '/troubleshooter/#2' %}" class="nav-link">
                            <i class="fa fa-truck" aria-hidden="true"></i>
                            Orders &amp; Shipping
                        </a>
                    </div>
                    <div class="col-xs-12">
                        <a href="https://www.reddit.com/r/TREZOR/top/?sort=top&t=week" class="nav-link">
                            <i class="icon-bubbles4" aria-hidden="true"></i>
                            Ask the Community
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="help-content" id="help-content">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h3>8 Tips for Contacting TREZOR Support</h3>
                <br/>
                <div>
                    <strong>1. Take a look at FAQ and User Manual.</strong>
                    <br/>
                    <p>
                        We’ve recently encountered plenty of low-level issues and Bitcoin 101 questions. The aim of
                        TREZOR Support Team is to help our customers under all circumstances. But if you desire to learn
                        more and it feels like really basic information, please try to find your answer online first. <a
                            href="https://doc.satoshilabs.com/trezor-faq/">FAQ</a> or <a
                            href="https://doc.satoshilabs.com/trezor-user/">manual pages</a> are the perfect places to
                        start your journey.
                    </p>
                </div>
                <div>
                    <strong>2. Use basic techniques of troubleshooting.</strong>
                    <br/>
                    <p>
                        Did you try to connect your TREZOR with a different cable? How about trying to replicate the
                        issue in different browsers? Is there a problem with the internet connection? Those are one of
                        the basic questions which we might ask you once you submit a ticket. You can take the first step
                        ahead of us.
                    </p>
                </div>
                <div>
                    <strong>3. Go through our troubleshooter before contacting support.</strong>
                    <br/>
                    <p>
                        The <a href="{% url '/troubleshooter' %}">Troubleshooter</a> is an amazing, powerful and
                        interactive tool where you can learn how to find details about your order or how to fix common
                        issues. If it does not provide you with an answer, it reroutes you to a contact form and assists
                        you with ticket submission.
                    </p>
                </div>
                <div>
                    <strong>4. Being brief is the key.</strong>
                    <br/>
                    <p>
                        If you would like your ticket to be resolved faster, please do not include irrelevant
                        information, it becomes harder to find the key data in an essay.<br/>
                        <em>Pro tip: Say hi first and then write in bullet points.</em>
                    </p>
                </div>
                <div>
                    <strong>5. If possible, provide as many details as you can.</strong>
                    <br/>
                    <p>
                        Be brief, but provide us with as many details about your system as possible, like your OS,
                        browser type, and firmware version. Sending this information in advance can drastically decrease
                        the time needed to isolate the issue. Don’t forget to specify if you are using the Chrome
                        extension or TREZOR Bridge. Also, it would be helpful if you could sum up all the steps that you
                        have tried.
                    </p>
                </div>
                <div>
                    <strong>6. Do not submit more than one ticket for your issue.</strong>
                    <br/>
                    <p>
                        Submitting more tickets will not get our immediate attention. Same goes for unnecessary
                        additional updates within the same ticket. Our Support Specialist would need to sort through all
                        the relevant information and find their way around your ticket. Moreover, by sending an
                        additional message to our Support Team, you are “updating” your ticket, which puts it back at
                        the end of the queue.<br/>
                        <em>For security reasons, we cannot open any unsolicited attachments. Please do not send any
                            logs, screenshots or archives if we haven’t asked for them.</em>
                    </p>
                </div>
                <div>
                    <strong>7. Be nice.</strong>
                    <br/>
                    <p>
                        Please take a deep breath before contacting us. We definitely understand that the crypto world
                        can be really stressful and it is absolutely understandable that you can lose your temper if you
                        suddenly cannot access your funds. But please stay civil. Our team is composed of professionals
                        and very dedicated crypto enthusiasts. They are doing their best to help you out and being rude
                        will not help. On the contrary, it could distract them from assisting you.
                    </p>
                </div>
                <div>
                    <strong>8. Ask the community.</strong>
                    <br/>
                    <p>
                        Fun fact — 99,5% of the issues are not unique and there is a good chance that someone already
                        had the same problem, shared it and already found a solution! Use search in our <a
                            href="https://www.reddit.com/r/TREZOR/top/?sort=top&t=week">subreddit</a> before starting a
                        new thread.
                    </p>
                </div>
                <br/><br/>
                <div>
                    <p>
                        We hope that together we can make the TREZOR experience even more comfortable for you. Thank you
                        very much!<br/><br/>
                        <i>Your TREZOR Support Team</i>
                    </p>
                </div>


                </p>
            </div>
            <div class="col-sm-4">
                <a class="twitter-timeline" data-lang="en" data-height="500" data-link-color="#4cc148"
                   href="https://twitter.com/TREZOR">Tweets by TREZOR</a>
            </div>
        </div>
    </div>
</section>
{% endblock body %}

{% block scripts %}
<script type='text/javascript' charset='utf-8' src="{% static '/static/js/vendor/vendors.js' %}"></script>
<script type='text/javascript' charset='utf-8' src="{% static '/static/js/sources/page_support.js' %}"></script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
{% endblock %}
