{% load i18n %}
<nav class="navbar navbar-dark navbar-full" role="navigation" aria-label="Global Navigation">
    <button class="navbar-toggler hidden-md-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar1"
            aria-controls="exCollapsingNavbar1" aria-expanded="false" aria-label="Toggle navigation">
        &#9776;
    </button>
    <a class="navbar-brand-mini hidden-md-up" href="{% url '/' %}"><img class="trezor-logo"
                                                            src="{% static '/images/trezor-logo.svg' %}"
                                                            onerror="this.src='{% static '/images/trezor-logo.png' %}'; this.onerror=null;"
                                                            alt="TREZOR logo"/></a>
    <div class="container">
        <div class="collapse navbar-toggleable-sm" id="exCollapsingNavbar1">
            <a class="navbar-brand hidden-sm-down" href="{% url '/' %}"><img class="trezor-logo"
                                                                 src="{% static '/images/trezor-logo.svg' %}"
                                                                 onerror="this.src='{% static '/images/trezor-logo.png' %}'; this.onerror=null;"
                                                                 alt="TREZOR logo"/><span
                    class="trezor-title">TREZOR.io</span></a>
            <ul class="nav navbar-nav float-sm-right float-xs-left social">
                <li class="nav-item">
                    <a class="nav-link shop-btn" href="https://shop.trezor.io" data-amount="0">{% trans "Shop" %}</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url '/' %}">{% trans "TREZOR" %}<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://wallet.trezor.io/">{% trans "Wallet" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://doc.satoshilabs.com/">{% trans "Docs" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://blog.trezor.io/">{% trans "Blog" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="mailto:support@trezor.io">{% trans "Contact" %}</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{% trans "Follow us" %}</a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="https://twitter.com/bitcointrezor"><span class="fa fa-twitter"></span> Twitter</a>
                        <a class="dropdown-item" href="https://www.reddit.com/r/trezor"><span class="fa fa-reddit-alien"></span> Reddit</a>
                        <a class="dropdown-item" href="https://www.instagram.com/bitcointrezor/"><span class="fa fa-instagram"></span> Instagram</a>
                        <a class="dropdown-item" href="https://www.facebook.com/BitcoinTrezor/"><span class="fa fa-facebook"></span> Facebook</a>
                        <a class="dropdown-item" href="https://github.com/satoshilabs/"><span class="fa fa-github-alt"></span> Github</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>