$c_white: #fff

$c_black: #060606
$c_black_a: rgba(0,0,0,0.8)

$c_brownish_black: #2c2c2c

$c_grey: #99979c
$c_grey_font: #5A616D
$c_grey_bg: #f6f7f8

$c_navlink: rgba(255,255,255,.7)

$c_purple: #AC61D0
.font-c-purple
  color: $c_purple

$c_green: #4cc148
.font-c-green
  color: $c_green

$c_blue: #4a93f3
.font-c-blue
  color: $c_blue

$c_orange: #f4a827
.font-c-orange
  color: $c_orange

$c_red: #fa3e3e
.font-c-red
  color: $c_red


$c_tpm_blue: #3498db
$c_tpm_blue_dark_very_much: #162338

