footer
  width: 100%
  color: $c_white

  .bottom-part
    padding: 50px 0
    width: 100%
    background: $c_black

    img
      width: 120px
      margin-left: 10px

    p
      padding: 10px 0 0 12px
      color: $c_grey

    h5
      padding: 0 0 10px 0

    ul
      list-style-type: none
      padding-top: 10px

      a
        &:hover
          color: $c_green
          text-decoration: underline

    .email-form
      background: $c_black
      color: $c_white
      padding: 8px
      float: left
      position: relative
      margin-right: 4px
      border: 2px solid $c_grey_font
      width: 50%
      +transition(all .4s ease)
      +border-radius(.25rem)

      &:active, &:focus
        outline: none
        border: 2px solid $c_grey

      &::-webkit-input-placeholder
        font-style: italic
        color: $c_grey

      &::-moz-placeholder
        font-style: italic
        color: $c_grey

      &:-ms-input-placeholder
        font-style: italic
        color: $c_grey

      &:-moz-placeholder
        font-style: italic
        color: $c_grey
