.jumbotron
  height: 100vh
  padding: 0
  z-index: 1
  position: relative
  margin-bottom: 0
  background: url("/static/images/test4.jpg")
  background-repeat: no-repeat
  background-position: center center
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
  +border-radius(0)

  .container
    height: 100vh

  h1, p
    color: $c_white
    position: relative
    top: 38%
    transform: translateY(-50%)
  h1
    font-size: 3.6em
    color: $c_white