.jumbotron
  height: 100vh
  padding: 0
  z-index: 1
  position: relative
  margin-bottom: 0
  background: url("../images/bg4.jpg")
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
  +border-radius(0)

  .container
    height: 100vh

  h1, p
    color: $c_blue
    position: relative
    top: 38%
    transform: translateY(-50%)