.jumbotron
  height: 100vh
  padding: 0
  z-index: 1
  position: relative
  margin-bottom: 0
  background: url("/static/images/test4.jpg")
  background-repeat: no-repeat
  background-position: top center
  +background-size(cover)
  +border-radius(0)

  .container
    height: 100vh

    h1, p
      color: $c_white
      position: relative
      top: 38%
      transform: translateY(-50%)

    h1
      font-size: 3.6em
      color: $c_white

  .strip
    position: absolute
    bottom: 0
    left: 0
    right: 0
    width: 100%
    background: rgba($c_white, .9)

    p
      margin: 10px 0 10px 0
