.sub-nav
  padding: 18px 0

  .nav
    .trezor-logo
      width: 110px
      margin-top: -5px

    a.nav-link
      text-transform: uppercase
      font-weight: bold
      font-size: .85rem
      color: $c_grey
      +unselectable()

    a.buy
      margin-top: -10px
      margin-bottom: -10px

.sticky
  position: fixed
  left: 0
  top: 0
  height: 64px
  width: 100%
  overflow-y: hidden
  overflow: hidden
  background: $c_black
  z-index: 2
