.tpm-jumbo
  min-height: 500px
  position: relative

  .container
    position: relative
    z-index: 4
    color: $c_white

    .top
      padding-top: 20px

      h1
        font-weight: 700

      .lead
        color: $c_white

    .bottom
      padding-top: 60px

.overlay-image
  position: absolute
  top: 0
  left: 0
  right: 0
  width: 100%
  height: 100%
  z-index: 0
  background: url("/static/images/tpm-bg.jpg") no-repeat center center fixed
  +background-size(cover)

.overlay-color
  opacity: .86
  position: absolute
  top: 0
  left: 0
  right: 0
  width: 100%
  height: 100%
  z-index: 1
  +background-gradient(180deg, $c_tpm_blue_dark_very_much 37%, $c_tpm_blue 100%)

.overlay-image2
  position: absolute
  top: 40px
  left: 0
  right: 0
  width: 100%
  height: 100%
  z-index: 3
  background-image: url("/static/images/tpm2.png")
  background-repeat: no-repeat
  background-position: 125% 20%
  background-size: 65% auto

  @media only screen and (max-width: $sm)
    display: none

.tpm-info
  background-color: $c_grey_bg
  padding: 20px 0 20px 0
  position: relative
  z-index: 4

.tpm-trezor-owner
  background-color: $c_white
  padding-bottom: 0
  position: relative
  z-index: 5

  h3
    font-size: 1.1em
    font-style: $default_font
    font-weight: bolder
    color: $c_grey_font

  .text-block
    max-width: 90%
    position: relative
    margin: 0 auto

.tpm-coffee
  width: 100%
  padding-bottom: 20px
  background-image: url("/static/images/trezorcoffee.png")
  background-color: transparent
  background-repeat: no-repeat
  background-position: center top
  +background-size(cover)

  .container
    padding-top: 60px

    .heading
      small
        display: block
        width: 180px
        margin: 0 auto
        padding-top: 20px
        color: $c_white

.tpm-faq
  background-color: $c_brownish_black
  color: $c_white

  .row
    div
      .row
        padding-bottom: 30px

  b
    color: $c_white
  p
    font-size: .9em
    color: $c_grey
