.start
  .thank-intro
    padding: 10% 0 10% 0

    h2
      font-size: 3em

    .btn
      margin-top: 20px

  .step
    background: $c_grey_bg
    margin: 10px

    .order
      color: $c_white
      font-size: 5em
