.team-section
  min-height: 500px

  .heading
    padding: 60px 0 0 0

  .person
    position: relative
    background: white
    display: inline-block
    padding: 0
    
    img
      width: 100%
      position: relative