.features-section
  min-height: 500px
  background: $c_black
  background: $c_black_a

  color: $c_white

  .heading
    padding: 60px 0 0 0

  p
    color: $c_grey

  canvas#featureCanvas
    height: 500px
    width: 100%
    display: block
