.features-section
  position: relative
  min-height: 560px
  background: $c_black
  padding-top: 80px
  padding-bottom: 80px
  color: $c_white

  .heading
    padding: 50px 0 0 0

  p
    color: $c_grey

  .hidden-content
    position: absolute
    top: 0
    left: 0
    width: 1px
    height: 1px
    visibility: hidden
    

  canvas#featureCanvas
    position: relative
    height: 500px
    width: 100%
    display: block
    z-index: 0

  .point
    position: absolute
    background: rgba($c_white, .6)
    top: 432px
    left: 583px
    width: 6px
    height: 6px
    z-index: 1
    +border-radius(50%)

    &:before
      position: absolute
      left: -17px
      top: -17px
      content: ""
      width: 40px
      height: 40px
      background: rgba($c_white, .4)
      opacity: 0
      +border-radius(50%)
      +animation(pulsate 1.8s infinite ease-out)

    &:after
      position: absolute
      left: -17px
      top: -17px
      content: ""
      width: 40px
      height: 40px
      background: rgba($c_white, .4)
      opacity: 0
      +border-radius(50%)
      +animation(pulsate 1.8s infinite ease-out 0.4s)