.usage-section
  position: relative
  padding-top: 80px
  padding-bottom: 80px

  .heading
    padding-bottom: 30px

  .item
    h4
      font-size: 1.1em
      font-style: $default_font
      font-weight: bolder
      color: $c_grey_font

    .text-block
      width: 90%
      position: relative
      margin: 0 auto
      padding-bottom: 20px
