.usage-section
  position: relative
  padding-bottom: 60px

  .heading
    padding: 60px 0 10px 0

  .sub-heading
    display: block
    padding-top: 20px
    height: 50px
    position: relative

    div
      position: absolute
      bottom: 20%

  .item
    width: 145px
    height: 100px
    padding: 10px
    border: 0
    color: $c_white
    cursor: pointer
    +border-radius(.25rem)
    +transition(all 0.45s)

    &.money
      background: $c_blue
      border-color: $c_blue

    &.identity
      background: $c_purple
      border-color: $c_purple

    &.other
      background: $c_orange
      border-color: $c_orange

    &:hover
      +box-shadow(0 0 10px rgba($c_grey, .8))

    .card-title
      font-size: 1.15em

    .content
      display: none

  .expanded
    width: 300px