.usage-section
  position: relative
  padding-bottom: 50px

  .heading
    padding: 10px 0 20px 0

  .sub-heading
    display: block
    padding-top: 20px
    height: 50px
    position: relative

    div
      position: absolute
      bottom: 20%

  .item
    width: 145px
    height: 100px
    padding: 10px
    text-align: left
    background: rgba($c_grey_font, .04)
    color: $c_grey_font
    cursor: pointer
    +border-radius(.25rem)
    +transition(all 0.45s)


    &:hover, &.active
      +box-shadow(0 0 10px rgba($c_grey, .4))

    .card-title
      font-size: .9em
      line-height: 1.3em

    .content
      display: none

  .item-opened
    padding: 20px
    border: 0
    color: $c_white
    +border-radius(.25rem)
    +transition(all 0.45s)

    &.money
      background: $c_blue
      border-color: $c_blue

    &.identity
      background: $c_purple
      border-color: $c_purple

    &.other
      background: $c_orange
      border-color: $c_orange
    p
      color: $c_white

    .card-title
      font-size: 2em
  .preview
    height: 0
    background: $c_white
    
  .expanded
    margin: 14px 14px 14px 14px
    padding: 20px
    height: auto
    text-align: left
    background: rgba($c_grey_font, .04)
    color: $c_grey_font
    +border-radius(.25rem)

    .card-title
      font-size: 1.5rem

    ul
      padding-left: 20px
      font: 400 15px/1.75 "Helvetica Neue", Helvetica, Arial, sans-serif

  h3
    font-size: 1.4em
    padding: 20px 0 10px 0

    .icon
      color: rgba($c_grey_font, .8)
      display: inline-block
      width: 30px
      height: 40px
      line-height: 38px
      text-align: center

      &.money
        color: $c_blue

      &.identity
        color: $c_purple

      &.other
        color: $c_orange