.intro-section
  padding-top: 80px
  padding-bottom: 80px
  background-color: $c_grey_bg

  .row
    padding: 40px 0

  .text-block
    width: 70%
    position: relative
    margin: 0 auto

  h4
    color: $c_green
    font-weight: bold
    font-size: 1.1em

  .presentation
    width: 200px
    height: 200px
    position: relative
    margin: 0 auto
    +box-shadow(0 0 24px rgba(0, 0, 0, 0.05))
    +border-radius(50%)

    &.setup
      background: url("/static/images/photos/setup.jpg")
      background-repeat: no-repeat
      background-position: center center
      +background-size(cover)

    &.use
      background: url("/static/images/photos/use.jpg")
      background-repeat: no-repeat
      background-position: center center
      +background-size(cover)

    &.recover
      background: url("/static/images/photos/recover.jpg")
      background-repeat: no-repeat
      background-position: center center
      +background-size(cover)

  @media screen and (max-width: $sm)
    &
      padding-top: 60px