.specification-section
  min-height: 500px
  padding-top: 80px
  padding-bottom: 80px

  .heading
    padding: 80px 0 40px 0

  .shape
    max-width: 100%
    opacity: .5
    
  .spec
    position: relative
    width: 90%
    margin: 0 auto
    margin-top: 20px

  .spec-block
    position: relative

    b
      position: absolute
      display: inline-block

    span
      margin-left: 100px
      display: inline-block
      position: relative
