.intro-section
  padding: 60px 0

  .row
    padding: 20px 0

  .text-block
    width: 70%
    position: relative
    margin: 0 auto

  @media screen and (max-width: $sm)
    &
      padding-top: 60px