.intro-section
  padding-top: 80px
  padding-bottom: 80px
  background-color: $c_grey_bg

  .heading
    padding-bottom: 30px

  .text-block
    width: 70%
    position: relative
    margin: 0 auto

  h4
    color: $c_green
    font-weight: bold
    font-size: 1.1em

  .presentation
    width: 100%
    max-width: 200px
    max-height: 200px
    position: relative
    margin: 0 auto
    background: url("/static/images/photos/usage.png")
    background-repeat: no-repeat
    background-size: 450%
    +box-shadow(0 0 24px rgba(0, 0, 0, 0.05))
    +border-radius(50%)

    &:after
      content: ""
      display: block
      padding-bottom: 100%

    &.setup
      background-position: 0 0

    &.use
      background-position: 46% 0

    &.recover
      background-position: 90% 0

  @media screen and (max-width: $sm)
    &
      padding-top: 60px